@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600;700;800&family=IBM+Plex+Mono:wght@400;500&family=Inter:wght@300;400&family=Roboto:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

:root {
  --ink: #0f0f0f;
  --ink2: #3a3a3a;
  --ink3: #f5f5f5;
  --ink4: #ddd;
  --ink5: #ccc;
  --ink6: #f0f0f0;
  --ink7: #666;
  --ink8: #888;
  --surface: #fafaf8;
  --card: #fff;
  --border: #e8e6df;
  --accent: #0066ff;
  --accent1: #005f02;
  --accent2: #00c896;
  --aws-orange: #ff9900;
  --google-btn: #520dc2;
  --input-bg: #f5f5f5;
  --link-bg: #fff0f0;

  /* Font families */
  --font-heading: "Syne", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;
  --font-body: "Inter", sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  --font-paragraph: "DM Mono", monospace;
  --font-normal: "Robot", sans-serif;
  --font-inter: "Inter", sans-serif;

  /* Font sizes */
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-md: 18px;
  --text-lg: 20px;
  --text-xl: 24px;
  --text-2xl: 32px;
  --text-3xl: 48px;
  --text-4xl: 64px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  background: linear-gradient(45deg, white, pink);
} */

/* @media (max-width: 768px) {
  .sidebar-mobile {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    background: aqua;
    z-index: 1000;
    padding: 0.5rem;
  }

  
  .sidebar-menu .list-group-item {
    flex: 1;
    text-align: center;
  }
} */
/* .sidebar-menu {
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
} */
